version: '3.0'

services:
  grafana:
    user: root
    container_name: 'motherduck-duckdb-datasource'
    platform: linux/arm64

    build:
      context: ./.config
      args:
        grafana_image: ${GRAFANA_IMAGE:-grafana-enterprise}
        grafana_version: ${GRAFANA_VERSION:-11.6.0}
    ports:
      - 3000:3000/tcp
      - 2345:2345/tcp # delve
    security_opt:
      - 'apparmor:unconfined'
      - 'seccomp:unconfined'
    cap_add:
      - SYS_PTRACE
    volumes:
      - ./dist:/var/lib/grafana/plugins/motherduck-duckdb-datasource
      - ./provisioning:/etc/grafana/provisioning
      - .:/root/motherduck-duckdb-datasource

    environment:
      NODE_ENV: development
      GF_LOG_FILTERS: plugin.motherduck-duckdb-datasource:debug
      GF_LOG_LEVEL: info
      GF_DATAPROXY_LOGGING: 1
      GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS: motherduck-duckdb-datasource
